.recipeHeader {
  background-color: var(--orange);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 10px;
  border-top: 1px solid var(--dark-orange);
}

.headerTitle {
  font-size: 16px;
  flex: 1;
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}