.recipe {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--black);
  font-size: 14px;
}

.recipe :is(ul, ol) {
  list-style-position: inside;
}

.recipe :is(ul, ol) > * {
  margin-bottom: 5px;
}

.title {
  font-size: 20px;
}

.sectionTitle {
  font-size: 16px;
  color: var(--orange);
}
